jupyterlab==3.6.8
librosa==0.10.0
matplotlib==3.5.3
numpy==1.22.0
pandas==1.3.5
pydub==0.25.1
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
statsmodels==0.13.5
torch==2.6.0
torchaudio==0.13.1
torchlibrosa==0.1.0
transformers==4.48.0
wandb==0.14.0
